<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="html" tagdir="/WEB-INF/tags/html"%>

<!-- jQuery -->
<html:script url="/resources/js/jquery.min.js" />

<!-- Bootstrap Core JavaScript -->
<html:script url="/resources/js/bootstrap.min.js" />

<!-- pace js -->
<html:script url="/resources/js/pace.min.js" />

<!-- template main js -->
<html:script url="/resources/js/custom.js" />

<html:script url="/resources/js/custom.js" />